In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

In [70]:
df = pd.read_excel("Attendance '24.xlsx",sheet_name='December Attendence')

In [71]:
df.head()

,Emp ID,Name,Department,Designation,D.O.J,2024-11-26 00:00:00,2024-11-27 00:00:00,2024-11-28 00:00:00,2024-11-29 00:00:00,2024-11-30 00:00:00,...,Present,Late,Absent,Holiday,Paid Leave,Total Calender Days,Past Availed Leaves,Total Availed Leaves,Total Earned Leaves,Remaining Leaves
0,39,Fahad Bin Zahid,Accounts,Executive,2022-06-20,PRESENT,PRESENT,HOLIDAY,PRESENT,HOLIDAY,...,8,5,0,7,0,20,8,8,24,16
1,40,Ibrahim Najmuddin,Accounts,Executive,2024-04-15,PRESENT,PRESENT,HOLIDAY,PRESENT,HOLIDAY,...,12,1,0,7,0,20,17,17,12,-5
2,42,Muhammad Haris Dilshad,Accounts,Assistant Manager,2024-01-26,PRESENT,PRESENT,HOLIDAY,PRESENT,HOLIDAY,...,10,3,0,7,0,20,7,7,18,11
3,99,Muhammad Qasim,Accounts,Executive,2024-11-21,PRESENT,PRESENT,HOLIDAY,PRESENT,HOLIDAY,...,13,0,0,7,0,20,0,0,0,0
4,49,Muhammad Sabih Uddin Farooqi,Accounts,HOD,2019-01-01,PRESENT,PRESENT,HOLIDAY,PRESENT,HOLIDAY,...,12,1,0,7,0,20,10,10,24,14

In [72]:
df.columns

Index([              'Emp ID',                 'Name',           'Department',
                'Designation',                'D.O.J',    2024-11-26 00:00:00,
          2024-11-27 00:00:00,    2024-11-28 00:00:00,    2024-11-29 00:00:00,
          2024-11-30 00:00:00,    2024-12-01 00:00:00,    2024-12-02 00:00:00,
          2024-12-03 00:00:00,    2024-12-04 00:00:00,    2024-12-05 00:00:00,
          2024-12-06 00:00:00,    2024-12-07 00:00:00,    2024-12-08 00:00:00,
          2024-12-09 00:00:00,    2024-12-10 00:00:00,    2024-12-11 00:00:00,
          2024-12-12 00:00:00,    2024-12-13 00:00:00,    2024-12-14 00:00:00,
          2024-12-15 00:00:00,    2024-12-16 00:00:00,    2024-12-17 00:00:00,
          2024-12-18 00:00:00,    2024-12-19 00:00:00,    2024-12-20 00:00:00,
          2024-12-21 00:00:00,    2024-12-22 00:00:00,    2024-12-23 00:00:00,
          2024-12-24 00:00:00,    2024-12-25 00:00:00,              'Present',
                       'Late',               'Absent',              'Holiday',
                 'Paid Leave',  'Total Calender Days',  'Past Availed Leaves',
       'Total Availed Leaves',  'Total Earned Leaves',     'Remaining Leaves'],
      dtype='object')

In [73]:
filtered_df=df[df['Emp ID']==1]

In [74]:
filtered_df['Late']

41    0
Name: Late, dtype: int64

In [75]:
filtered_df.columns

Index([              'Emp ID',                 'Name',           'Department',
                'Designation',                'D.O.J',    2024-11-26 00:00:00,
          2024-11-27 00:00:00,    2024-11-28 00:00:00,    2024-11-29 00:00:00,
          2024-11-30 00:00:00,    2024-12-01 00:00:00,    2024-12-02 00:00:00,
          2024-12-03 00:00:00,    2024-12-04 00:00:00,    2024-12-05 00:00:00,
          2024-12-06 00:00:00,    2024-12-07 00:00:00,    2024-12-08 00:00:00,
          2024-12-09 00:00:00,    2024-12-10 00:00:00,    2024-12-11 00:00:00,
          2024-12-12 00:00:00,    2024-12-13 00:00:00,    2024-12-14 00:00:00,
          2024-12-15 00:00:00,    2024-12-16 00:00:00,    2024-12-17 00:00:00,
          2024-12-18 00:00:00,    2024-12-19 00:00:00,    2024-12-20 00:00:00,
          2024-12-21 00:00:00,    2024-12-22 00:00:00,    2024-12-23 00:00:00,
          2024-12-24 00:00:00,    2024-12-25 00:00:00,              'Present',
                       'Late',               'Absent',              'Holiday',
                 'Paid Leave',  'Total Calender Days',  'Past Availed Leaves',
       'Total Availed Leaves',  'Total Earned Leaves',     'Remaining Leaves'],
      dtype='object')

In [76]:
# Department
filtered_df['Department']

41    HR
Name: Department, dtype: object

In [77]:
# Total Calender Days
filtered_df['Total Calender Days']

41    20
Name: Total Calender Days, dtype: int64

In [78]:
# Function to check if a column name is a valid date
def is_valid_date(column_name):
    # Check if the column name is a datetime object or can be parsed as a date
    if isinstance(column_name, datetime):
        return True
    try:
        datetime.strptime(str(column_name), "%Y-%m-%d %H:%M:%S")
        return True
    except ValueError:
        return False

# Filter columns with valid date names
filtered_columns = [col for col in filtered_df.columns if is_valid_date(col)]
filtered_date_df = filtered_df[filtered_columns]


filtered_date_df.head()

,2024-11-26,2024-11-27,2024-11-28,2024-11-29,2024-11-30,2024-12-01,2024-12-02,2024-12-03,2024-12-04,2024-12-05,...,2024-12-16,2024-12-17,2024-12-18,2024-12-19,2024-12-20,2024-12-21,2024-12-22,2024-12-23,2024-12-24,2024-12-25
41,PRESENT,PRESENT,HOLIDAY,PRESENT,PRESENT,HOLIDAY,PRESENT,PRESENT,PRESENT,PRESENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
df = pd.read_excel("Attendance '24.xlsx",sheet_name='Lates')

In [80]:
df.head(
)

   Emp ID                          Name Department      Month  Lates
0      39               Fahad Bin Zahid   Accounts 2024-01-24      0
1      40             Ibrahim Najmuddin   Accounts 2024-01-24      0
2      42        Muhammad Haris Dilshad   Accounts 2024-01-24      0
3      49  Muhammad Sabih Uddin Farooqi   Accounts 2024-01-24      0
4      47        Muhammad Waqas Farooqi   Accounts 2024-01-24      0

In [81]:
filtered_df=df[df['Name']=="Muhammad Khalil Ashraf"]

In [82]:
filtered_df

     Emp ID                    Name Department      Month  Lates
575      88  Muhammad Khalil Ashraf  Developer 2024-10-01      4
612      88  Muhammad Khalil Ashraf  Developer 2024-11-01      1
686      88  Muhammad Khalil Ashraf  Developer 2024-12-01      1

In [83]:
df = pd.read_excel("Timesheet.xlsx",sheet_name='December Timesheet')

In [84]:
df.head()

,Emp ID,Name,Department,Shift,Day,Date,Arival Time,Departure Time,Check IN,Check OUT,Status,Comments,Count
0,39,Fahad Bin Zahid,Accounts,Night,Tuesday,2024-11-26,21:15:00,06:00:00,21:11:00,06:47:00,PRESENT,NaN,1
1,40,Ibrahim Najmuddin,Accounts,Night,Tuesday,2024-11-26,21:15:00,06:00:00,20:42:00,06:02:00,PRESENT,NaN,1
2,42,Muhammad Haris Dilshad,Accounts,Night,Tuesday,2024-11-26,21:15:00,06:00:00,21:08:00,06:07:00,PRESENT,NaN,1
3,99,Muhammad Qasim,Accounts,Night,Tuesday,2024-11-26,21:15:00,06:00:00,20:57:00,06:02:00,PRESENT,NaN,1
4,49,Muhammad Sabih Uddin Farooqi,Accounts,Night,Tuesday,2024-11-26,21:15:00,1900-01-01 05:00:00,21:08:00,05:00:00,PRESENT,NaN,1

In [85]:
filtered_df=df[df['Name']=="Muhammad Khalil Ashraf"]

In [86]:
filtered_df

,Emp ID,Name,Department,Shift,Day,Date,Arival Time,Departure Time,Check IN,Check OUT,Status,Comments,Count
35,88,Muhammad Khalil Ashraf,Developer,Night,Tuesday,2024-11-26,18:15:00,03:00:00,18:09:00,03:11:00,PRESENT,NaN,1
107,88,Muhammad Khalil Ashraf,Developer,Night,Wednesday,2024-11-27,18:15:00,03:00:00,18:13:00,03:01:00,PRESENT,NaN,1
179,88,Muhammad Khalil Ashraf,Developer,Night,Thursday,2024-11-28,18:15:00,03:00:00,NaN,NaN,HOLIDAY,Thanks Giving Holiday,1
251,88,Muhammad Khalil Ashraf,Developer,Night,Friday,2024-11-29,18:15:00,03:00:00,18:14:00,03:03:00,PRESENT,NaN,1
323,88,Muhammad Khalil Ashraf,Developer,Night,Saturday,2024-11-30,18:15:00,03:00:00,18:15:00,03:00:00,PRESENT,NaN,1
395,88,Muhammad Khalil Ashraf,Developer,Night,Sunday,2024-12-01,18:15:00,03:00:00,NaN,NaN,HOLIDAY,NaN,1
467,88,Muhammad Khalil Ashraf,Developer,Night,Monday,2024-12-02,18:15:00,03:00:00,18:07:00,03:27:00,PRESENT,NaN,1
539,88,Muhammad Khalil Ashraf,Developer,Night,Tuesday,2024-12-03,18:15:00,03:00:00,18:04:00,04:46:00,PRESENT,NaN,1
611,88,Muhammad Khalil Ashraf,Developer,Night,Wednesday,2024-12-04,18:15:00,03:00:00,18:02:00,04:01:00,PRESENT,NaN,1
683,88,Muhammad Khalil Ashraf,Developer,Night,Thursday,2024-12-05,18:15:00,03:00:00,18:06:00,03:27:00,PRESENT,NaN,1
754,88,Muhammad Khalil Ashraf,Developer,Night,Friday,2024-12-06,18:15:00,03:00:00,NaN,NaN,ABSENT,Exams,1
825,88,Muhammad Khalil Ashraf,Developer,Night,Saturday,2024-12-07,18:15:00,03:00:00,NaN,NaN,ABSENT,Exams,1
895,88,Muhammad Khalil Ashraf,Developer,Night,Sunday,2024-12-08,18:15:00,03:00:00,NaN,NaN,HOLIDAY,NaN,1
966,88,Muhammad Khalil Ashraf,Developer,Night,Monday,2024-12-09,18:15:00,03:00:00,NaN,NaN,PAID LEAVE,Exams,1
1037,88,Muhammad Khalil Ashraf,Developer,Night,Tuesday,2024-12-10,18:15:00,03:00:00,NaN,NaN,PAID LEAVE,Exams,1
1108,88,Muhammad Khalil Ashraf,Developer,Night,Wednesday,2024-12-11,18:15:00,03:00:00,NaN,NaN,ABSENT,Exams,1
1181,88,Muhammad Khalil Ashraf,Developer,Night,Thursday,2024-12-12,18:15:00,03:00:00,NaN,NaN,PAID LEAVE,NaN,1
1254,88,Muhammad Khalil Ashraf,Developer,Night,Friday,2024-12-13,18:15:00,03:00:00,18:09:00,03:24:00,PRESENT,NaN,1
1326,88,Muhammad Khalil Ashraf,Developer,Night,Saturday,2024-12-14,18:15:00,03:00:00,18:19:00,03:00:00,LATE,Due to Unussual Traffic Jam,1
1398,88,Muhammad Khalil Ashraf,Developer,Night,Sunday,2024-12-15,18:15:00,03:00:00,NaN,NaN,HOLIDAY,NaN,1

In [87]:
filtered_df['Date'] = pd.to_datetime(filtered_df['Date'], errors='coerce')  # Convert to datetime and handle errors as NaT
filtered_df = filtered_df.sort_values(by='Date', ascending=True)  # Sort by date
filtered_df = filtered_df.fillna("")

C:\Users\Rana Umar Farooq\AppData\Local\Temp\ipykernel_13024\199934067.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Date'] = pd.to_datetime(filtered_df['Date'], errors='coerce')  # Convert to datetime and handle errors as NaT

In [88]:
filtered_df

,Emp ID,Name,Department,Shift,Day,Date,Arival Time,Departure Time,Check IN,Check OUT,Status,Comments,Count
35,88,Muhammad Khalil Ashraf,Developer,Night,Tuesday,2024-11-26,18:15:00,03:00:00,18:09:00,03:11:00,PRESENT,,1
107,88,Muhammad Khalil Ashraf,Developer,Night,Wednesday,2024-11-27,18:15:00,03:00:00,18:13:00,03:01:00,PRESENT,,1
179,88,Muhammad Khalil Ashraf,Developer,Night,Thursday,2024-11-28,18:15:00,03:00:00,,,HOLIDAY,Thanks Giving Holiday,1
251,88,Muhammad Khalil Ashraf,Developer,Night,Friday,2024-11-29,18:15:00,03:00:00,18:14:00,03:03:00,PRESENT,,1
323,88,Muhammad Khalil Ashraf,Developer,Night,Saturday,2024-11-30,18:15:00,03:00:00,18:15:00,03:00:00,PRESENT,,1
395,88,Muhammad Khalil Ashraf,Developer,Night,Sunday,2024-12-01,18:15:00,03:00:00,,,HOLIDAY,,1
467,88,Muhammad Khalil Ashraf,Developer,Night,Monday,2024-12-02,18:15:00,03:00:00,18:07:00,03:27:00,PRESENT,,1
539,88,Muhammad Khalil Ashraf,Developer,Night,Tuesday,2024-12-03,18:15:00,03:00:00,18:04:00,04:46:00,PRESENT,,1
611,88,Muhammad Khalil Ashraf,Developer,Night,Wednesday,2024-12-04,18:15:00,03:00:00,18:02:00,04:01:00,PRESENT,,1
683,88,Muhammad Khalil Ashraf,Developer,Night,Thursday,2024-12-05,18:15:00,03:00:00,18:06:00,03:27:00,PRESENT,,1
754,88,Muhammad Khalil Ashraf,Developer,Night,Friday,2024-12-06,18:15:00,03:00:00,,,ABSENT,Exams,1
825,88,Muhammad Khalil Ashraf,Developer,Night,Saturday,2024-12-07,18:15:00,03:00:00,,,ABSENT,Exams,1
895,88,Muhammad Khalil Ashraf,Developer,Night,Sunday,2024-12-08,18:15:00,03:00:00,,,HOLIDAY,,1
966,88,Muhammad Khalil Ashraf,Developer,Night,Monday,2024-12-09,18:15:00,03:00:00,,,PAID LEAVE,Exams,1
1037,88,Muhammad Khalil Ashraf,Developer,Night,Tuesday,2024-12-10,18:15:00,03:00:00,,,PAID LEAVE,Exams,1
1108,88,Muhammad Khalil Ashraf,Developer,Night,Wednesday,2024-12-11,18:15:00,03:00:00,,,ABSENT,Exams,1
1181,88,Muhammad Khalil Ashraf,Developer,Night,Thursday,2024-12-12,18:15:00,03:00:00,,,PAID LEAVE,,1
1254,88,Muhammad Khalil Ashraf,Developer,Night,Friday,2024-12-13,18:15:00,03:00:00,18:09:00,03:24:00,PRESENT,,1
1326,88,Muhammad Khalil Ashraf,Developer,Night,Saturday,2024-12-14,18:15:00,03:00:00,18:19:00,03:00:00,LATE,Due to Unussual Traffic Jam,1
1398,88,Muhammad Khalil Ashraf,Developer,Night,Sunday,2024-12-15,18:15:00,03:00:00,,,HOLIDAY,,1

In [90]:
filtered_df['Status'].unique()

array(['PRESENT', 'HOLIDAY', 'ABSENT', 'PAID LEAVE', 'LATE'], dtype=object)

In [93]:
filtered_df[filtered_df['Status'].isin(['HOLIDAY', 'ABSENT'])]

,Emp ID,Name,Department,Shift,Day,Date,Arival Time,Departure Time,Check IN,Check OUT,Status,Comments,Count
179,88,Muhammad Khalil Ashraf,Developer,Night,Thursday,2024-11-28,18:15:00,03:00:00,,,HOLIDAY,Thanks Giving Holiday,1
395,88,Muhammad Khalil Ashraf,Developer,Night,Sunday,2024-12-01,18:15:00,03:00:00,,,HOLIDAY,,1
754,88,Muhammad Khalil Ashraf,Developer,Night,Friday,2024-12-06,18:15:00,03:00:00,,,ABSENT,Exams,1
825,88,Muhammad Khalil Ashraf,Developer,Night,Saturday,2024-12-07,18:15:00,03:00:00,,,ABSENT,Exams,1
895,88,Muhammad Khalil Ashraf,Developer,Night,Sunday,2024-12-08,18:15:00,03:00:00,,,HOLIDAY,,1
1108,88,Muhammad Khalil Ashraf,Developer,Night,Wednesday,2024-12-11,18:15:00,03:00:00,,,ABSENT,Exams,1
1398,88,Muhammad Khalil Ashraf,Developer,Night,Sunday,2024-12-15,18:15:00,03:00:00,,,HOLIDAY,,1

In [97]:
filtered_df.shape

(20, 13)

In [4]:
df = pd.read_csv("user_data.csv")
df.head()

   Emp ID                 Username  Password
0       1        Syed Mustafa Shah      1111
1       2  Muhammad Talha Siddiqui      1111
2       3          Mughees Mehmood      6743
3       4        M.Sharjeel Yousuf      9291
4       5           Muhammad Mahee      2709

In [17]:
usernames = user_data["Username"].tolist()
usernames

['Syed Mustafa Shah',
 'Muhammad Talha Siddiqui',
 'Mughees Mehmood',
 'M.Sharjeel Yousuf',
 'Muhammad Mahee',
 'Muntaha Munawar Khanzada',
 'Hifaz Anis',
 'Muhammad Huzaifa Qurashi',
 'Sameer Siddiq',
 'Salman Arif',
 'Muhammad Arshad Khalid',
 'Muhammad Shahid',
 'Hamza Tayyab',
 'Sikander',
 'Shaheer Ur Rehman',
 'Saud Ahmed Khan',
 'Muhammad Abdullah Ghanchi',
 'Muhammad Ehtesham Khan',
 'Muhammad Hassan',
 'Owais Towqeer',
 'Muhammad Rizwan',
 'Syed Umair Ahmed',
 'Hammad Shahid',
 'Amir Bin Nasim',
 'Syed Ali Imran',
 'Rhonda Sacrafamilia',
 'Fahad Bin Zahid',
 'Ibrahim Najmuddin',
 'Zuhaib Ghori',
 'Muhammad Haris Dilshad',
 'Muhammad Abdul Haseeb',
 'Abdul Waleed',
 'Muhammad Waqas Farooqi',
 'Muhammad Sabih Uddin Farooqi',
 'Abdullah Asif',
 'Abdul Wahab',
 'Malik Muhammad Anas',
 'Muhammad Irfan',
 'Syed Alam Ali',
 'Momin Iqbal Siddiqui',
 'Sajid Malik',
 'Syed Abdul Wasay Qamar',
 'Muhammad Ashar Afaq',
 'Fawad Akram',
 'Syed Akber Raza',
 'Roshaan Ahmed',
 'Abdul Karim',
 'Yougesh',
 'Mushaf Sibtain',
 'Ikram Ali',
 'Muhammad Qamar',
 'Ranveer Singh',
 'Muhammad Zeeshan',
 'Khalid Naeem',
 'Muhammad Khalil Ashraf',
 'Hafiz Waqas qamar',
 'Kashan khan',
 'Shaz Shoaib',
 'Naveed Ilyas',
 'Abdul Qadeer',
 'Kashan Asif',
 'Muhammad Ahmer Khan',
 'Fareed Kiyani',
 'Muhammad Akmal',
 'Muhammad Qasim',
 'Syed Taimoor Khalid Saeed',
 'Syed Haris',
 'Muhammad Wajahat Vohra',
 'Muhammad Rafay Mughal',
 'Shayan Shehzad',
 'Hassan Ali']

In [22]:
selected_username

   Emp ID           Username Password
0       1  Syed Mustafa Shah     1111

In [35]:
selected_username = "Syed Mustafa Shah"
password = "1111"

In [40]:
user_row = user_data[user_data["Username"] == selected_username ]["Password"]
user_row

0    1111
Name: Password, dtype: object

In [41]:
user_row.values[0] == password

True

In [ ]:
 user_row

In [ ]:

if user_row.iloc[0]["Password"] == password:
    print("Matched")
else:
    print("False")

ValueError: Operands are not aligned. Do `left, right = left.align(right, axis=1, copy=False)` before operating.